<div class="col-md-3 sidebar text-center">
    <div class="menu">
        <img src="Image/images.jpg" alt="Profile Picture" class="profile-img" />
        <p class="fw-bolder">Clarence Taylor</p>
        <nav>
            <ul>
                <NavLink ActiveClass="active-link" class="nav-link" href="/" Match="NavLinkMatch.All" aria-current="page">Home</NavLink>
                <NavLink ActiveClass="active-link" class="nav-link" href="/about" Match="NavLinkMatch.All" aria-current="page">About</NavLink>
                <NavLink ActiveClass="active-link" class="nav-link" href="/experience" Match="NavLinkMatch.All" aria-current="page">Experience</NavLink>
                <NavLink ActiveClass="active-link" class="nav-link" href="/education" Match="NavLinkMatch.All" aria-current="page">Education</NavLink>
                <NavLink ActiveClass="active-link" class="nav-link" href="/skills" Match="NavLinkMatch.All" aria-current="page">Skills</NavLink>
                <NavLink ActiveClass="active-link" class="nav-link" href="/interests" Match="NavLinkMatch.All" aria-current="page">Interests</NavLink>
                <NavLink ActiveClass="active-link" class="nav-link" href="/awards" Match="NavLinkMatch.All" aria-current="page">Awards</NavLink>
                <NavLink ActiveClass="active-link" class="nav-link" href="/chang-color-car" Match="NavLinkMatch.All" aria-current="page">Change Color Car</NavLink>

            </ul>
        </nav>
    </div>
</div>