@page "/"

@layout MainLayout

<div>
    <p class="fw-bolder text-uppercase h1">Clarence Taylor</p>
    <h6 class="text-uppercase">
        354 Berry Street - Cheyenne Wells, CO 80810 - (917) 555-6060 -
        <a style="color: #c44b2a">name@email.com</a>
    </h6>
    <p class="mt-4">
        I am experienced in leveraging agile frameworks to provide a
        robust synopsis for high-level overviews. Iterative approaches to
        corporate strategy foster collaborative thinking to further the
        overall value proposition.
    </p>
    <div class="social-icons">
        <a href="#" class="fa-brands fa-linkedin-in p-2 bg-dark"></a>
        <a href="#" class="fa-brands fa-github p-2 bg-dark"></a>
        <a href="#" class="fa-brands fa-twitter p-2 bg-dark"></a>
        <a href="#" class="fa-brands fa-facebook-f p-2 bg-dark"></a>
    </div>
</div>